# tools/chocolateyUninstall.ps1

$ErrorActionPreference = 'Stop'

$packageName = "{{ NAME }}"
$version     = "{{ VERSION }}" 
$toolsDir    = "$(Split-Path -parent $MyInvocation.MyCommand.Definition)"
$dir         = Join-Path ${env:ProgramFiles(x86)} "$packageName"
$url         = "{{ INSTALL_EXE_URL }}"
$checksum    = "{{ CHECKSUM }}"  # SHA256

Write-Output "Installing app ..."
Install-ChocolateyPackage -PackageName $packageName `
    -FileType "exe" `
    -SilentArgs "/DIR=`"$dir`" /ALLUSERS /SUPPRESSMSGBOXES /VERYSILENT /NORESTART /SP-" `
    -Url $url `
    -Checksum $checksum `
    -ChecksumType "sha256"

Write-Output "Installing shim ..."
$exePath = Join-Path $dir "{{ NAME }}.bat"
Install-BinFile -Name "{{ NAME }}" -Path $exePath