<?xml version='1.0' encoding='utf-8'?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>{{ NAME | escape }}</id>
    <version>{{ VERSION_SEMVER | escape }}</version>
    <title>{{ TITLE | escape }}</title>
    <authors>{{ AUTHOR | escape }}</authors>
    <description>
      {{ DESCRIPTION | escape }}
    </description>
    <summary>{{ SUMMARY | escape }}</summary>
    <tags>{{ TAGS | escape }}</tags>
    <iconUrl>{{ ICON_URL | escape }}</iconUrl>
    <projectUrl>{{ HOMEPAGE | escape }}</projectUrl>
    <projectSourceUrl>{{ HOMEPAGE_SRC | escape }}</projectSourceUrl>
    <packageSourceUrl>{{ HOMEPAGE_CHOCO | escape }}</packageSourceUrl>
    <licenseUrl>{{ LICENSE_URL | escape }}</licenseUrl>
    <releaseNotes>{{ RELEASE_NOTES_URL | escape }}</releaseNotes>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <dependencies>
      <dependency id="chocolatey-core.extension" version="1.3.3" />
    </dependencies>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>  
</package>